@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto+Slab:wght@300&family=Sometype+Mono&display=swap');

.App {
    display: flex;
    font-family: 'Poppins', sans-serif;
    &__SideBar {
        flex: 1;
    }
    &__RightSide {
        flex: 3;
    }
}

.reset {
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
}